/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif; /* Substitute with your preferred font */
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #f4f4f4;
    padding-top: 60px; /* Adjust based on your header height */
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.profile-pic {
    border-radius: 50%;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main-container {
    text-align: center;
    margin: 20px;
}

.main-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.main-container p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.main-container a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .header-container {
        flex-direction: column;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Additional styles for portfolio cards */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

/* Card default style */
.card {
    /* Your existing styles */
    max-height: 100px; /* Set a max height for the collapsed state */
    overflow: hidden; /* Hide the overflow content */
    cursor: pointer; /* Indicates the card is clickable */
    transition: max-height 0.5s ease; /* Smooth transition for max-height */
}

/* Expanded card style */
.card.expanded {
    max-height: 1000px; /* Set a max height for the expanded state */
    /* You may need to adjust this value based on your content */
}


@media screen and (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr; /* Stack the cards on top of each other on small screens */
    }
}